
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  @media only screen and (min-width: 1500px) {

   .hider {
    display: none;
   }

   #social{
    padding-top: 780px !important;
    margin-right: -376px !important;
    margin-left: 425px !important;
  }

  #face {
    width: 30% !important;
    margin-bottom: 0px !important;
}

  }


@media (max-width: 1500px) and (min-width: 1200px) {

.hider {
  display: none;
}

.background {
  width: 455px;
}

.inner-block {
  width: 30% !important;
}

#social {
  padding-top: 600px !important;
  margin-right: -273px !important;
  margin-left: 310px !important;
}

.shadow-block {
  top: 10% !important;
}

#icon {
  margin-left: 830px !important;
}

.icons {
  margin-left: 1400px !important;
}

.infos h2 {
  padding-left: 900px !important;
  }

#pos {
  padding-left: 900px !important;
  }

  .infos p {
  padding-left: 950px !important;
  }

  #logo {
    margin-left: 860px !important;
  }

  #face {
    margin-bottom: 50px !important;
}
  .infos1 {
    margin-left: 50% !important;
  }

 .infos1 h2 {
  font-size: 28px !important;
 }

 .infos1 p {
  font-size: 16px !important;
 }

  }

  @media (mAX-width: 1200px) and (min-width: 992px) {
    .background {
      width: 455px;
    }

    .hider {
      display: none;
    }

    .shadow-block {
      width: 75% !important;
      top: 10% !important;
      left: 25%;
    }

  .infos1 h2 {
    font-size: 28px !important;
   }

   .infos1 p {
    font-size: 14px !important;
   }

   #face {
    margin-bottom: 60px !important;
}

#social {
  padding-top: 580px !important;
  width: 20% !important;
  margin-right: -127px !important;
  margin-left: 205px !important;
}

    .inner-block {
      width: 30% !important;
    }
    
    #icon {
      margin-left: 36% !important;
    }
    
    .icons {
      margin-left: 58% !important;
    }
    
    .infos h2 {
      padding-left: 38% !important;
      }
    
    #pos {
      padding-left: 38% !important;
      }
    
      .infos p {
      padding-left: 40% !important;
      }
    
      #logo {
        margin-left: 38% !important;
      }
  }

  @media (max-width: 992px) and (min-width: 768px) {
    .background {
      width: 455px;
    }
    .pc {
      display: none;
    }
    .inner-block {
      width: 40% !important;
    }
    
    #icon {
      margin-left: 36% !important;
    }
    
    .icons {
      margin-left: 58% !important;
    }
    
    .infos h2 {
      padding-left: 33% !important;
      }
    
    #pos {
      padding-left: 33% !important;
      }
    
      .infos p {
      padding-left: 37% !important;
      }
    
      #logo {
        margin-left: 33% !important;
      }
  }

  .background-main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #F5CB4C 50%, #ffffff 50%);
}

.png {
  margin-top: 50px;
  margin-bottom: 35%;
  padding-left: 90px;
  width: 5%;
}

.background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to top,
      #FFFFFF 0%,
      #FFFFFF 50%,
      #F5CB4C  50%,
      #F5CB4C  100%)
}

#pf {
    width: 120px;
    margin-top: -55px;
    margin-left: 30px;
    margin-bottom: 500px;
}

#face {
  width: 25%;
  width: 25%;
  margin-bottom: 130px;
}

.inner-block {
  background-color: #ffffff;
  padding-bottom: 60px;
  margin: auto;
  margin-top: -600px;
  border-radius: 5px;
  box-shadow: 10px 10px 42px rgb(0 0 0 / 25%);
  width: 30%;
}

.shadow-block {
  background: rgb(255, 255, 255);
  width: 50%;
  height: auto;
  position: absolute;
  top: 25%;
  left: 25%;
  margin: -50px 0 0 -50px;
  box-shadow: 10px 10px 42px rgb(0 0 0 / 25%);
}

#social{
  padding-top: 750px;
  width: 15%;
  margin-right: -255px;
  margin-left: 280px;
}

#icon {
  width: auto;
  margin-left: 500px;
  margin-top: 100px;
}

#logo {
  width: auto;
  margin-left: 525px;
  margin-bottom: -35px;
}

#logo1 {
  width: auto;
  margin-bottom: -35px;
}

.infos1 {
  width: 100%;
  margin-top: -43%;
  margin-left: 60%;
}

.infos1 a {
  text-decoration: none;
  color: black;
}

.infos a {
  text-decoration: none;
  color: black;
}

.infos1 h2 {
  font-family: "poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
}

.infos1 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 15px;
  margin-left: 35px;
}

.infos {
  width: 100%;
  margin-top: 200px;
}

.infos h2 {
  font-family: "poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  padding-left: 540px;
}

.bot {
  margin-bottom: 10px;
}

.infos p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  padding-left: 560px;
}

#pos {
  font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 21px;
padding-left: 540px;
}

#pos1 {
  font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 21px;
margin-left: 0px;
}

.icons {
  display: block;
  margin-top: -50px;
  margin-left: 820px;
}

#icons {
  width: auto;
  margin-left: 15px;

}

@media only screen and (max-width: 600px) {
  .pc {
    display: none;
  }
  
.background {
  width: 455px;
}

.inner-block {
  width: 70%;
}

#icon {
  margin-left: 80px;
}

.icons {
  margin-left: 270px;
}

.infos h2 {
  padding-left: 90px;
  }

#pos {
  padding-left: 90px;
  }

  .infos p {
    padding-left: 120px;
  }

  #logo {
    margin-left: 90px;
  }
  
}